/*.table{*/
/*    border: 1px solid cadetblue;*/
/*    background-color: whitesmoke;*/
/*    align-content: center;*/
/*    border-collapse: collapse;*/
/*    padding: 10px;*/
/*}*/
/*td{*/
/*    align-content: center;*/
/*    padd*/
/*}*/
/*table tr td{*/
/*    text-align: center;*/
/*}*/

/*table th{*/
/*    border: 1px solid cadetblue;*/
/*}*/

td{
    text-align: center;
    border: 1px lightslategrey dashed;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-table thread tr{
    background-color: cadetblue;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td{
    padding: 12px 5px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}
.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid cadetblue;
}

.content-table tbody tr.active-row{
    font-weight: bold;
    color: cadetblue;

    /*onmouseover="this.style.fontWeight='bold'; this.style.color='cadetblue'"*/
    /*onmouseout="this.style.fontWeight=''; this.style.color=''"*/
}




